doctype html
html(lang="en")
    head
    body
        //- 以下block content 为页面内容
        block content
        //- 以上block content 为页面内容
        br
        hr
        footer 
            p Copyright &copy;2018 